<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polimi.testing.lifecycle_acivityrule"
    xmlns:tools="http://schemas.android.com/tools">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:label">

        <activity android:name="it.polimi.testing.lifecycle.ControlActivity"/>

    </application>

</manifest>
